## 데이터 변형하기

### dataframe에 값쓰기

In [1]:
import pandas as pd

In [3]:
iphone_df = pd.read_csv('iphone.csv', index_col=0)
iphone_df

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [4]:
iphone_df.loc['iPhone 8', '메모리']

'2GB'

### 값 하나 바꾸기

In [7]:
iphone_df.loc['iPhone 8', '메모리'] = "2.5GB"
iphone_df.loc['iPhone X', '디스플레이'] = "6.0"

In [8]:
iphone_df

                      출시일 디스플레이    메모리     출시 버전 Face ID
iPhone 7       2016-09-16   4.7    2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16   5.5    3GB  iOS 10.0      No
iPhone 8       2017-09-22   4.7  2.5GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22   5.5    3GB  iOS 11.0      No
iPhone X       2017-11-03   6.0    3GB  iOS 11.1     Yes
iPhone XS      2018-09-21   5.8    4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21   6.5    4GB  iOS 12.0     Yes

### 하나의 row, column 도 한번에 바꿔줄 수 있다.

In [13]:
iphone_df['디스플레이'] = ['3', '4', '5', '6', '7', '8', '9']
iphone_df

                      출시일 디스플레이    메모리     출시 버전 Face ID
iPhone 7       2016-09-16     3    2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16     4    3GB  iOS 10.0      No
iPhone 8       2017-09-22     5  2.5GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22     6    3GB  iOS 11.0      No
iPhone X       2017-11-03     7    3GB  iOS 11.1     Yes
iPhone XS      2018-09-21     8    4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21     9    4GB  iOS 12.0     Yes

### 다 같은 값으로 바꿀 때

In [15]:
iphone_df['Face ID'] = 'Yes'
iphone_df

                      출시일 디스플레이    메모리     출시 버전 Face ID
iPhone 7       2016-09-16     3    2GB  iOS 10.0     Yes
iPhone 7 Plus  2016-09-16     4    3GB  iOS 10.0     Yes
iPhone 8       2017-09-22     5  2.5GB  iOS 11.0     Yes
iPhone 8 Plus  2017-09-22     6    3GB  iOS 11.0     Yes
iPhone X       2017-11-03     7    3GB  iOS 11.1     Yes
iPhone XS      2018-09-21     8    4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21     9    4GB  iOS 12.0     Yes

### 여러 줄을 바꿀 때/(슬라이싱으로도 바꿀 수 있다.)

In [16]:
iphone_df[['디스플레이', 'Face ID']] = 'X'
iphone_df

                      출시일 디스플레이    메모리     출시 버전 Face ID
iPhone 7       2016-09-16     X    2GB  iOS 10.0       X
iPhone 7 Plus  2016-09-16     X    3GB  iOS 10.0       X
iPhone 8       2017-09-22     X  2.5GB  iOS 11.0       X
iPhone 8 Plus  2017-09-22     X    3GB  iOS 11.0       X
iPhone X       2017-11-03     X    3GB  iOS 11.1       X
iPhone XS      2018-09-21     X    4GB  iOS 12.0       X
iPhone XS Max  2018-09-21     X    4GB  iOS 12.0       X

In [18]:
iphone_df.loc['iPhone 7 Plus':'iPhone X']= 'Y'
iphone_df

                      출시일 디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16   4.7  2GB  iOS 10.0      No
iPhone 7 Plus           Y     Y    Y         Y       Y
iPhone 8                Y     Y    Y         Y       Y
iPhone 8 Plus           Y     Y    Y         Y       Y
iPhone X                Y     Y    Y         Y       Y
iPhone XS      2018-09-21   5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21   6.5  4GB  iOS 12.0     Yes

### 조건으로도 바꿀 수 있다.

In [17]:
iphone_df = pd.read_csv('iphone.csv', index_col=0)
iphone_df

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [25]:
iphone_df[iphone_df['Face ID'] == 'Yes'] = 'p'
iphone_df

                      출시일 디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16   4.7  2GB  iOS 10.0      No
iPhone 7 Plus           Y     Y    Y         Y       Y
iPhone 8                Y     Y    Y         Y       Y
iPhone 8 Plus           Y     Y    Y         Y       Y
iPhone X                Y     Y    Y         Y       Y
iPhone XS               p     p    p         p       p
iPhone XS Max           p     p    p         p       p

### 인덱스 위치로도 가능

In [27]:
iphone_df.iloc[[1, 3], [2, 4]] = 'z'
iphone_df

                      출시일 디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16   4.7  2GB  iOS 10.0      No
iPhone 7 Plus           Y     Y    z         Y       z
iPhone 8                Y     Y    Y         Y       Y
iPhone 8 Plus           Y     Y    z         Y       z
iPhone X                Y     Y    Y         Y       Y
iPhone XS               p     p    p         p       p
iPhone XS Max           p     p    p         p       p

## *새로운 값을 추가하거나 삭제하기*

In [28]:
iphone_df = pd.read_csv('iphone.csv', index_col=0)
iphone_df

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

### 없는 값을 쓰면 새롭게 추가된다

In [31]:
iphone_df.loc['iPhone 11'] = ['2019-11-21', '7', '7GB', 'iOS 13.0', 'Yes']
iphone_df

                      출시일 디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16   4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16   5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22   4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22   5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03   5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21   5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21   6.5  4GB  iOS 12.0     Yes
iPhone 11      2019-11-21     7  7GB  iOS 13.0     Yes

In [32]:
iphone_df['제조사'] = 'PEACH'
iphone_df

                      출시일 디스플레이  메모리     출시 버전 Face ID    제조사
iPhone 7       2016-09-16   4.7  2GB  iOS 10.0      No  PEACH
iPhone 7 Plus  2016-09-16   5.5  3GB  iOS 10.0      No  PEACH
iPhone 8       2017-09-22   4.7  2GB  iOS 11.0      No  PEACH
iPhone 8 Plus  2017-09-22   5.5  3GB  iOS 11.0      No  PEACH
iPhone X       2017-11-03   5.8  3GB  iOS 11.1     Yes  PEACH
iPhone XS      2018-09-21   5.8  4GB  iOS 12.0     Yes  PEACH
iPhone XS Max  2018-09-21   6.5  4GB  iOS 12.0     Yes  PEACH
iPhone 11      2019-11-21     7  7GB  iOS 13.0     Yes  PEACH

### 값 삭제하기
* `.drop()`을 사용한다
* `axis='index'` 는 row를 , `axis='colums'`는 column을 뜻한다.
* `inplace=False` 를 쓰면 해당 값이 삭제된 새로운 데이터프레임이 생성되고, 원본은 변함이 없다.
* `inplace=True` 를 쓰면 원본에서 해당 값이 삭제된다.

In [33]:
iphone_df.drop('iPhone 11', axis='index', inplace=False)

                      출시일 디스플레이  메모리     출시 버전 Face ID    제조사
iPhone 7       2016-09-16   4.7  2GB  iOS 10.0      No  PEACH
iPhone 7 Plus  2016-09-16   5.5  3GB  iOS 10.0      No  PEACH
iPhone 8       2017-09-22   4.7  2GB  iOS 11.0      No  PEACH
iPhone 8 Plus  2017-09-22   5.5  3GB  iOS 11.0      No  PEACH
iPhone X       2017-11-03   5.8  3GB  iOS 11.1     Yes  PEACH
iPhone XS      2018-09-21   5.8  4GB  iOS 12.0     Yes  PEACH
iPhone XS Max  2018-09-21   6.5  4GB  iOS 12.0     Yes  PEACH

### 하지만 살아 있는 데이터?
* `inplace=False` 를 쓰면 기존의 데이터를 건들지 않겠다는 뜻이다.

In [35]:
iphone_df

                      출시일 디스플레이  메모리     출시 버전 Face ID    제조사
iPhone 7       2016-09-16   4.7  2GB  iOS 10.0      No  PEACH
iPhone 7 Plus  2016-09-16   5.5  3GB  iOS 10.0      No  PEACH
iPhone 8       2017-09-22   4.7  2GB  iOS 11.0      No  PEACH
iPhone 8 Plus  2017-09-22   5.5  3GB  iOS 11.0      No  PEACH
iPhone X       2017-11-03   5.8  3GB  iOS 11.1     Yes  PEACH
iPhone XS      2018-09-21   5.8  4GB  iOS 12.0     Yes  PEACH
iPhone XS Max  2018-09-21   6.5  4GB  iOS 12.0     Yes  PEACH
iPhone 11      2019-11-21     7  7GB  iOS 13.0     Yes  PEACH

* `inplace=True` 를 쓰면 iphone_df 값 자체가 바뀌게 된다.

In [37]:
iphone_df.drop('iPhone 11', axis='index', inplace=True)
iphone_df

                      출시일 디스플레이  메모리     출시 버전 Face ID    제조사
iPhone 7       2016-09-16   4.7  2GB  iOS 10.0      No  PEACH
iPhone 7 Plus  2016-09-16   5.5  3GB  iOS 10.0      No  PEACH
iPhone 8       2017-09-22   4.7  2GB  iOS 11.0      No  PEACH
iPhone 8 Plus  2017-09-22   5.5  3GB  iOS 11.0      No  PEACH
iPhone X       2017-11-03   5.8  3GB  iOS 11.1     Yes  PEACH
iPhone XS      2018-09-21   5.8  4GB  iOS 12.0     Yes  PEACH
iPhone XS Max  2018-09-21   6.5  4GB  iOS 12.0     Yes  PEACH

In [38]:
iphone_df

                      출시일 디스플레이  메모리     출시 버전 Face ID    제조사
iPhone 7       2016-09-16   4.7  2GB  iOS 10.0      No  PEACH
iPhone 7 Plus  2016-09-16   5.5  3GB  iOS 10.0      No  PEACH
iPhone 8       2017-09-22   4.7  2GB  iOS 11.0      No  PEACH
iPhone 8 Plus  2017-09-22   5.5  3GB  iOS 11.0      No  PEACH
iPhone X       2017-11-03   5.8  3GB  iOS 11.1     Yes  PEACH
iPhone XS      2018-09-21   5.8  4GB  iOS 12.0     Yes  PEACH
iPhone XS Max  2018-09-21   6.5  4GB  iOS 12.0     Yes  PEACH

In [41]:
iphone_df.drop('제조사', axis='columns', inplace=True)
iphone_df

                      출시일 디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16   4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16   5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22   4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22   5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03   5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21   5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21   6.5  4GB  iOS 12.0     Yes

### 여러줄 삭제할거야

In [43]:
iphone_df.drop(['iPhone 7', 'iPhone 8', 'iPhone X'], axis='index', inplace=True)
iphone_df

                      출시일 디스플레이  메모리     출시 버전 Face ID
iPhone 7 Plus  2016-09-16   5.5  3GB  iOS 10.0      No
iPhone 8 Plus  2017-09-22   5.5  3GB  iOS 11.0      No
iPhone XS      2018-09-21   5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21   6.5  4GB  iOS 12.0     Yes

## *index/ column 설정하기*

In [46]:
liverpool_df = pd.read_csv('liverpool.csv', index_col=0)
liverpool_df

                position  born  number nationality
Roberto Firmino       FW  1991   no. 9      Brazil
Sadio Mane            FW  1992  no. 10     Senegal
Mohamed Salah         FW  1992  no. 11       Egypt
Joe Gomez             DF  1997  no. 12     England
Alisson Becker        GK  1992  no. 13      Brazil

* `df.rename(columns={})`은 column의 이름을 바꿔 완전 새로운 df를 만든다.
* *원본은 변경되지 않음!*

In [48]:
liverpool_df.rename(columns={'position': 'Position'})

                Position  born  number nationality
Roberto Firmino       FW  1991   no. 9      Brazil
Sadio Mane            FW  1992  no. 10     Senegal
Mohamed Salah         FW  1992  no. 11       Egypt
Joe Gomez             DF  1997  no. 12     England
Alisson Becker        GK  1992  no. 13      Brazil

In [49]:
liverpool_df

                position  born  number nationality
Roberto Firmino       FW  1991   no. 9      Brazil
Sadio Mane            FW  1992  no. 10     Senegal
Mohamed Salah         FW  1992  no. 11       Egypt
Joe Gomez             DF  1997  no. 12     England
Alisson Becker        GK  1992  no. 13      Brazil

* 원본을 바꾸고 싶다면, `inplace=True` 를 붙여준다.

In [50]:
liverpool_df.rename(columns={'position': 'Position'}, inplace=True)
liverpool_df

                Position  born  number nationality
Roberto Firmino       FW  1991   no. 9      Brazil
Sadio Mane            FW  1992  no. 10     Senegal
Mohamed Salah         FW  1992  no. 11       Egypt
Joe Gomez             DF  1997  no. 12     England
Alisson Becker        GK  1992  no. 13      Brazil

In [51]:
liverpool_df.rename(columns={'position': 'POSITION', 'born': 'BORN', 'number': 'NUMBER', 'nationality':'NALTIONALITY'})

                Position  BORN  NUMBER NALTIONALITY
Roberto Firmino       FW  1991   no. 9       Brazil
Sadio Mane            FW  1992  no. 10      Senegal
Mohamed Salah         FW  1992  no. 11        Egypt
Joe Gomez             DF  1997  no. 12      England
Alisson Becker        GK  1992  no. 13       Brazil

In [53]:
liverpool_df.index.name = 'player name'
liverpool_df

                Position  born  number nationality
player name
Roberto Firmino       FW  1991   no. 9      Brazil
Sadio Mane            FW  1992  no. 10     Senegal
Mohamed Salah         FW  1992  no. 11       Egypt
Joe Gomez             DF  1997  no. 12     England
Alisson Becker        GK  1992  no. 13      Brazil

* 인덱스 이름을 선수 이름이 아닌 번호로 바꿔주고 싶다면 `df.set_index()`를 사용한다.

In [54]:
liverpool_df.set_index('number')

       Position  born nationality
number
no. 9        FW  1991      Brazil
no. 10       FW  1992     Senegal
no. 11       FW  1992       Egypt
no. 12       DF  1997     England
no. 13       GK  1992      Brazil

* 하지만 이렇게 하면 선수 이름 정보가 다 없어지기 때문에, 선수 이름을 새로운 col으로 넣어주고 바꾸는게 좋다.

In [55]:
liverpool_df['player name'] = liverpool_df.index
liverpool_df

                Position  born  number nationality      player name
player name
Roberto Firmino       FW  1991   no. 9      Brazil  Roberto Firmino
Sadio Mane            FW  1992  no. 10     Senegal       Sadio Mane
Mohamed Salah         FW  1992  no. 11       Egypt    Mohamed Salah
Joe Gomez             DF  1997  no. 12     England        Joe Gomez
Alisson Becker        GK  1992  no. 13      Brazil   Alisson Becker

In [ ]:
liverpool_df['player name'] = liverpool_df.index
liverpool_df

In [56]:
liverpool_df.set_index('number', inplace=True)
liverpool_df

       Position  born nationality      player name
number
no. 9        FW  1991      Brazil  Roberto Firmino
no. 10       FW  1992     Senegal       Sadio Mane
no. 11       FW  1992       Egypt    Mohamed Salah
no. 12       DF  1997     England        Joe Gomez
no. 13       GK  1992      Brazil   Alisson Becker